.text-center.justify-content-center
  %h1 Welcome #{current_user.name}, to your Memories Dashboard
  %p Below are your saved memories arranged by folder.

.flex.flex-grid.px-10
  %p.font-bold Journals
  = link_to "New Journal", new_journal_path, class: "text-white bg-blue-500 px-4 mx-3", data: {turbo_frame: dom_id(Journal.new)}

= turbo_frame_tag Journal.new

.journal-list
  %ul 
    = render @user_journals