.journal-items
  = link_to journal.title, journal, class: "font-normal mb-2 text-center hover:underline text-gray-700 dark:text-gray-400 block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
