%nav.border-b.py-6
  .container  
    .flex.flex-wrap.justify-between.items-center
      .flex.items-center
        .mx-5.text-3xl.font-bold
          = link_to 'Memories', root_path
        %ul.flex.items-center.flex-col.md:flex-row.md:space-x-5.w-full
      .flex.items-center.gap-2
        - if user_signed_in?
          .btn-primary= button_to "Logout", destroy_user_session_path, :method => 'delete', class: "px-3 py-2 bg-red-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
        - else
          = link_to 'Login', new_user_session_path, class: "px-3 py-2 bg-green-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out"
          = link_to 'Sign Up', new_user_registration_path, class: "px-3 py-2 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
